body {
    font-family: 'Alef', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
}
#title
{
    font-family: 'Alef', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #005A5A;
    text-align: center;
}
label
{
    color: #005A5A;
    font-weight: 700;
    color: ;

}
rect {
    fill-opacity: .8;
}
text {
    font-size: 10px;
}
