body
{
	font-family: 'Alef', sans-serif;
	font-weight: 400;
}

h1
{
	color: #005A5A;
	text-align: center;
	font-weight: 700 !important ;
}
table
{
	border-style: solid;
	border-color: #005A5A;
	border-width: 3px;
	border-top-width: 3px;
	margin-left: auto;
	margin-right: auto;
	padding: 3px;
	line-height: 1;
	text-align: center;

}
caption
{
	font-weight: bold !important;
	text-align: center;
	color: #FFFFFF;
	width: inherit;
	padding-top: 10px;
	padding-bottom: 5px;
	border-style: solid;
	border-color: #005A5A;
	border-width: 3px;
	border-bottom-width: 0px;
	background-color: #005A5A;

}
thead tr
{
	text-align: center;
	color: #005A5A;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #005A5A;
	cursor: s-resize;
}
tbody tr .col1
{
	text-align: left;
}

.ascending
{
	background-color: #800033;
	color: #FFFFFF;
	cursor: n-resize;
}
.descending
{
	background-color: #006600;
	color: #FFFFFF;
	cursor: s-resize;

}

.active
{
	z-index: 2;
	background-color: rgba(255, 204, 0, 0.5) !important;
}

